body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

nav {
    background: #333;
    padding: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a.active {
    text-decoration: underline;
}

.container {
    width: 70%;
    background: white;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #333;
    padding: 10px;
}
